<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; chearset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <h1>Hi <%= @user.name %></h1>
        <p>
            Sample Mail sent using smtp
        </p>
    </body>
</html>